**Accessing MODFLOW 6 Output**

In [1]:
import os ; import numpy as np ; import flopy ; from pathlib import Path

In [10]:
sim_origin = 'E:\\15_REPOS\\00_BETAMI\\bin\\\\Flopy_data\\test001e_UZF_3lay'    #   ; fpath=os.path.join(path,"test001e_UZF_3lay.***") 
sim_ws = Path("./06_Output")   ; sim_ws.mkdir(exist_ok=True) ; sim_name = 'test001e_UZF_3lay' ; exe_name = "mf6" ; sim2 = "gwf_1"

In [11]:
sim = flopy.mf6.MFSimulation.load(sim_ws=sim_origin, exe_name=exe_name, verbosity_level=0)
sim.set_sim_path(sim_ws) ; sim.write_simulation(silent=True) ; sim.run_simulation(silent=True)

(True, [])

In [12]:
ml = sim.get_model(sim2) ; bud = ml.output.budget()    ; bud2 = bud.get_data(idx=0, full3D=True) ; print(bud2[0].shape)
ml = sim.get_model(sim2) ; bud = ml.oc.output.budget() ; bud3 = bud.get_data(idx=0, full3D=True) ; print(bud3[0].shape)
hds = ml.output.head()    ; hds.get_data(); 
hds = ml.oc.output.head() ; hds.get_data();

(1, 1, 124)
(1, 1, 124)

In [13]:
budcsv = ml.output.budgetcsv()  ; budcsv.data ;

In [14]:
hds = ml.output.head() ; hds.get_data() ;

In [18]:
uzf = ml.uzf ; uzf_bud = uzf.output.budget() ; uzf_bud.get_data(idx=0)  ; 
uzf_budcsv = uzf.output.budgetcsv()  ; uzf_budcsv.data  ;

In [20]:
uzf_conv = uzf.output.package_convergence()
if uzf_conv is not None:
    uzf_conv.data[0:10]
uzf_obs = uzf.output.obs()
uzf_obs.data[0:10]

rec.array([( 2., 0.05, 0.05, 0.), ( 4., 0.05, 0.05, 0.),
           ( 6., 0.05, 0.05, 0.), ( 8., 0.05, 0.05, 0.),
           (10., 0.05, 0.05, 0.), (12., 0.05, 0.05, 0.),
           (14., 0.05, 0.05, 0.), (16., 0.05, 0.05, 0.),
           (18., 0.05, 0.05, 0.), (20., 0.05, 0.05, 0.)],
          dtype=[('totim', '<f8'), ('ID3_DPTH=8.0', '<f8'), ('ID3_DPTH=24.0', '<f8'), ('ID3_RCH', '<f8')])

In [21]:
print("UZF package: ", uzf.output.methods())
print("Model object: ", ml.output.methods())
print("OC package: ", ml.oc.output.methods())
print("DIS package: ", ml.dis.output.methods())

UZF package:  ['zonebudget()', 'budget()', 'budgetcsv()', 'package_convergence()', 'obs()']
Model object:  ['list()', 'zonebudget()', 'budget()', 'budgetcsv()', 'head()']
OC package:  ['list()', 'zonebudget()', 'budget()', 'budgetcsv()', 'head()']
DIS package:  None

In [24]:
output = ml.obs[0].output  ; obs_names = output.obs_names  ; output.obs(f=obs_names[0]).data[0:10]

rec.array([( 2., 0.05, 0.05, 0.), ( 4., 0.05, 0.05, 0.),
           ( 6., 0.05, 0.05, 0.), ( 8., 0.05, 0.05, 0.),
           (10., 0.05, 0.05, 0.), (12., 0.05, 0.05, 0.),
           (14., 0.05, 0.05, 0.), (16., 0.05, 0.05, 0.),
           (18., 0.05, 0.05, 0.), (20., 0.05, 0.05, 0.)],
          dtype=[('totim', '<f8'), ('ID3_DPTH=8.0', '<f8'), ('ID3_DPTH=24.0', '<f8'), ('ID3_RCH', '<f8')])

In [26]:
zarr = np.ones(ml.modelgrid.shape, dtype=int)
for i in range(1, 4): zarr[i - 1] *= i
zonbud = ml.output.zonebudget(zarr) ; zonbud.change_model_ws(sim_ws) ; zonbud.write_input() ; zonbud.run_model()

FloPy is using the following executable to run the model: C:\Users\gross.DESKTOP-AIRQM2M\anaconda3\Scripts\zbud6.exe
                              ZONEBUDGET Version 6
                             U.S. GEOLOGICAL SURVEY
                            VERSION 6.6.1 02/10/2025
...........................................................................................

Normal Termination

(True, [])

In [28]:
df = zonbud.get_dataframes(net=True)  ; df = df.reset_index()  ; df

      totim    name  ZONE_1        ZONE_2        ZONE_3
0       2.0  ZONE_0     0.0  0.000000e+00  0.000000e+00
1       2.0  ZONE_1     0.0  0.000000e+00  0.000000e+00
2       2.0  ZONE_2     0.0  0.000000e+00  0.000000e+00
3       2.0  ZONE_3     0.0  0.000000e+00  0.000000e+00
4       4.0  ZONE_0     0.0  0.000000e+00  0.000000e+00
..      ...     ...     ...           ...           ...
355  2520.0  ZONE_3     0.0  0.000000e+00  0.000000e+00
356  2560.0  ZONE_0     0.0  0.000000e+00  0.000000e+00
357  2560.0  ZONE_1     0.0  0.000000e+00  0.000000e+00
358  2560.0  ZONE_2     0.0  0.000000e+00 -5.684342e-10
359  2560.0  ZONE_3     0.0  5.684342e-10  0.000000e+00

[360 rows x 5 columns]